body {
  font-family: 'Roboto';
}

a {
  color: white;
  text-decoration: none;
}

hr {
  width: 300px;
}

.center {
  text-align: center;
}

.hide-in-2 {
  display: block;
  opacity: 1;
  -moz-animation: hide 0s ease-in 2s forwards;
  -webkit-animation: hide 0s ease-in 2s forwards;
  -o-animation: hide 0s ease-in 2s forwards;
  animation: hide 0s ease-in 2s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.w-175 {
  width: 175px;
}

.mgt-15 {
  margin-top: 15px;
}

.pdt-20 {
  padding-top: 20px;
}

.pdb-20 {
  padding-bottom: 20px;
}

@keyframes hide {
  to {
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes hide {
  to {
    opacity: 0;
    display: none;
  }
}
