body {
  font-family: 'Roboto';
}

a {
  color: white;
  text-decoration: none;
}

hr {
  width: 300px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.mgt-15 {
  margin-top: 15px;
}

.pdt-30 {
  padding-top: 30px;
}

.pdb-30 {
  padding-bottom: 30px;
}
